@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-textColor;
}

body {
  @apply bg-custom-img bg-cover bg-center bg-fixed;
}

.oblique-border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom right, transparent 50%, blue 50%);
}

.perspective-1000 {
  perspective: 1000px;
}
.backface-visibility-hidden {
  backface-visibility: hidden;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
}

.bounce {
  animation: bounce 2s infinite;
}


